.pagination{
    color: #ffffff;
    margin: 0;
    height: 80px;
    padding-left: 1rem;
    background-color: hsl(215, 90%, 32.7%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
