.header {
  color: #ffffff;
  margin: 0;
  height: 80px;
  padding-left: 1rem;
  background-color: hsl(215, 90%, 32.7%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.task-wrapper {
  width: 98vw;
  height: calc(100vh - 80px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Simple shadow */
  margin: 0;
  float: right;
}
.task-wrapper .task-controls {
  background-color: #084191;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Simple shadow */
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.task-wrapper .task-controls .task-parent-count {
  display: flex;
  color: white;
}
.task-wrapper .task-content {
  padding-right: 1rem;
}
.task-wrapper .task-content .parent-root {
  background-color: white;
  margin-bottom: 1rem;
  padding: 0.5rem 0.5rem 0.5rem;
}
.task-wrapper .task-content .parent-root .accordtion-btn {
  margin: 0;
  padding: 0;
}
.task-wrapper .task-content .parent-root .test {
  display: inline-flex;
  flex-direction: row;
}
.task-wrapper .task-content .parent-root .btn {
  background: none;
  border: none;
  cursor: pointer;
}

.pagination {
  color: #ffffff;
  margin: 0;
  height: 80px;
  padding-left: 1rem;
  background-color: hsl(215, 90%, 32.7%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
}

body {
  background: rgb(11, 98, 220);
  background: linear-gradient(117deg, rgb(11, 98, 220) 0%, rgb(9, 54, 116) 100%);
  overflow-y: auto;
  position: relative;
  z-index: 0;
}